{% import 'macros/helpers.html' as macro %}

{% extends 'layouts/application.html' %}



{% block content %}

<section class="p-0 border-top border-bottom row no-gutters">
    <div class="col-lg-7 col-xl-6">
        <div class="container min-vh-lg-80 d-flex align-items-center">
            <div class="row justify-content-center">
                <div class="col col-md-10 col-xl-9 text-center text-lg-left">
                    <section>
                        <div data-aos="fade-right">
                            <h1 class="display-3"><mark data-aos="highlight-text" data-aos-delay="200">Save time</mark>
                                with
                                Jumpstart</h1>
                            <p class="lead">
                                Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem
                                aperiam.
                            </p>
                        </div>
                        <div class="d-flex flex-column flex-sm-row mt-4 mt-md-5 justify-content-center justify-content-lg-start"
                            data-aos="fade-right" data-aos-delay="300">
                            <a href="#" class="btn btn-primary btn-lg mx-sm-2 mx-lg-0 mr-lg-2 my-1 my-sm-0">Explore
                                Layouts</a>
                            <a href="#"
                                class="btn btn-outline-primary btn-lg mx-sm-2 mx-lg-0 mr-lg-2 my-1 my-sm-0">Purchase</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-xl-6 d-lg-flex flex-lg-column">
        <div class="divider divider-side transform-flip-y bg-white d-none d-lg-block"></div>
        <div class="d-lg-flex flex-column flex-fill controls-hover"
            data-flickity='{ "imagesLoaded": true, "wrapAround":true, "pageDots":false, "autoPlay":true }'>
            <div class="carousel-cell text-center">
                <img class="img-fluid" src="img/heros/hero-square-1.jpg" alt="Image">
            </div>
            <div class="carousel-cell text-center">
                <img class="img-fluid" src="img/heros/hero-square-2.jpg" alt="Image">
            </div>
        </div>
    </div>
</section>
<section class="bg-light o-hidden">
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h2 class="display-4">Do more with Jumpstart</h2>
                <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
        </div>
        <div class="row align-items-center justify-content-around">
            <div class="col-md-9 col-lg-5" data-aos="fade-in">
                <img src="img/square-2.jpg" alt="Image" class="img-fluid rounded shadow">
                <img src="img/square-1.jpg" alt="Image"
                    class="position-absolute p-0 col-4 col-xl-5 border border-white border-thick rounded-circle top left shadow-lg mt-5 ml-n5 ml-lg-n3 ml-xl-n5 d-none d-md-block"
                    data-jarallax-element="-20 0">
            </div>
            <div class="col-md-9 col-lg-6 col-xl-5 mt-4 mt-md-5 mt-lg-0">
                <ol class="list-unstyled p-0">
                    <li class="d-flex align-items-start my-4 my-md-5">
                        <div
                            class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center bg-success">
                            <div class="position-absolute text-white h5 mb-0">1</div>
                        </div>
                        <div class="ml-3 ml-md-4">
                            <h4>Create account</h4>
                            <p>
                                Oluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                            <a href="#">Create one now</a>
                        </div>
                    </li>
                    <li class="d-flex align-items-start my-4 my-md-5">
                        <div
                            class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center bg-success">
                            <div class="position-absolute text-white h5 mb-0">2</div>
                        </div>
                        <div class="ml-3 ml-md-4">
                            <h4>Start creating</h4>
                            <p>
                                Error sit voluptatem actium doloremque laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex align-items-start my-4 my-md-5">
                        <div
                            class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center bg-success">
                            <div class="position-absolute text-white h5 mb-0">3</div>
                        </div>
                        <div class="ml-3 ml-md-4">
                            <h4>Share and enjoy</h4>
                            <p>
                                Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                                aperiam, eaque
                                ipsa.
                            </p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="p-0 bg-light">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                <div class="text-center text-lg-left">
                    <h2 class="h1">Save tons on design and development</h2>
                    <p class="lead">Berspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam.</p>
                </div>
                <div id="faq-accordion">
                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-1" data-toggle="collapse" role="button" aria-expanded="false"
                            class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">Fully Responsive</h6>
                                <img src="img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                    class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-1" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">
                                Ned ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium,
                                totam rem aperiam, eaque Arya.
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-2" data-toggle="collapse" role="button" aria-expanded="false"
                            class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">Multiple Layouts</h6>
                                <img src="img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                    class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-2" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">
                                Non pulvinar neque laoreet suspendisse interdum Catelyn libero id. Olenna imp leo in
                                vitae turpis
                                massa. Sapien habitant Tyrion.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-5" data-aos="fade-in">
                <img src="img/square-5.jpg" alt="Image" class="img-fluid rounded shadow">
                <img src="img/square-4.jpg" alt="Image"
                    class="position-absolute p-0 col-4 col-xl-5 border border-white border-thick rounded-circle top right shadow-lg mt-5 mr-n5 mr-lg-n3 mr-xl-n5 d-none d-md-block"
                    data-jarallax-element="-20 0">
            </div>

        </div>
    </div>
    <div class="divider divider-bottom bg-white"></div>
</section>
<section>
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">They <mark data-aos="highlight-text" data-aos-delay="300">Jumpstarted</mark> it
                </h3>
                <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4 mb-lg-0">
                <div class="card h-100 hover-box-shadow">
                    <div class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="img/case-studies/thumb-2.jpg"
                            alt="Image accompanying Circle testimonial">
                        <div class="badge badge-light badge-pill">
                            <img src="img/logos/brand/asgardia.svg" alt="Asgardia company logo"
                                class="icon icon-sm m-lg-1">
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>Asgardia</h3>
                        <p>
                            Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                        </p>
                        <a href="#" class="stretched-link">Read Story</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4 mb-lg-0">
                <div class="card h-100 hover-box-shadow">
                    <div class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="img/case-studies/thumb-9.jpg"
                            alt="Image accompanying Kanba testimonial">
                        <div class="badge badge-light badge-pill">
                            <img src="img/logos/brand/kanba.svg" alt="Kanba company logo" class="icon icon-sm m-lg-1">
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>Kanba</h3>
                        <p>
                            Vel fringilla est ullamcorper eget. Eunuch pulvinar sapien et Loras ullamcorper Melisandre.
                        </p>
                        <a href="#" class="stretched-link">Read Story</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4 mb-lg-0">
                <div class="card h-100 hover-box-shadow">
                    <div class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="img/case-studies/thumb-5.jpg"
                            alt="Image accompanying Treva testimonial">
                        <div class="badge badge-light badge-pill">
                            <img src="img/logos/brand/treva.svg" alt="Treva company logo" class="icon icon-sm m-lg-1">
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>Treva</h3>
                        <p>
                            Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
                        </p>
                        <a href="#" class="stretched-link">Read Story</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary-3 pt-0 text-white">
    <div class="divider divider-top transform-flip-x bg-white"></div>
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">Features Galore</h3>
                <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
                <div class="row justify-content-center">
                    <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="10">
                        <div class="card card-body bg-white min-vh-md-30 hover-box-shadow">
                            <div class="flex-fill">
                                <h4 class="h3">Fully Responsive</h4>
                                <p>Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel
                                    Hodor.</p>
                            </div>
                            <a href="#" class="stretched-link">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="20">
                        <div class="card card-body bg-white min-vh-md-30 hover-box-shadow">
                            <div class="flex-fill">
                                <h4 class="h3">Multiple Layouts</h4>
                                <p>Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                                </p>
                            </div>
                            <a href="#" class="stretched-link">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="30">
                        <div class="card card-body bg-white min-vh-md-30 hover-box-shadow">
                            <div class="flex-fill">
                                <h4 class="h3">Modular Components</h4>
                                <p>Vel fringilla est ullamcorper eget. Eunuch pulvinar sapien et Loras ullamcorper
                                    Melisandre.</p>
                            </div>
                            <a href="#" class="stretched-link">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="40">
                        <div class="card card-body bg-white min-vh-md-30 hover-box-shadow">
                            <div class="flex-fill">
                                <h4 class="h3">Suits Your Style</h4>
                                <p>Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas
                                    sed.</p>
                            </div>
                            <a href="#" class="stretched-link">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary text-white">
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">Customers are lovin’ it</h3>
                <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col d-flex flex-wrap justify-content-center">
                <div class="m-2">
                    <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 shadow-sm bg-white">
                        <img src="img/avatars/male-3.jpg" alt="Brandon Pliskin avatar image"
                            class="avatar avatar-sm flex-shrink-0 mr-3">
                        <div class="text-dark mb-0">&ldquo;Porting in to
                            <mark>Jumpstart is a breeze.</mark>&rdquo;</div>
                    </div>
                </div>
                <div class="m-2">
                    <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 shadow-sm bg-white">
                        <img src="img/avatars/female-4.jpg" alt="Ashley Mance avatar image"
                            class="avatar avatar-sm flex-shrink-0 mr-3">
                        <div class="text-dark mb-0">&ldquo;Jumpstart is a dream come true.&rdquo;</div>
                    </div>
                </div>
                <div class="m-2">
                    <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 shadow-sm bg-white">
                        <img src="img/avatars/male-4.jpg" alt="Mike Vandels avatar image"
                            class="avatar avatar-sm flex-shrink-0 mr-3">
                        <div class="text-dark mb-0">&ldquo;This company always turns out quality.&rdquo;</div>
                    </div>
                </div>
                <div class="m-2">
                    <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 shadow-sm bg-white">
                        <img src="img/avatars/male-5.jpg" alt="Deiter Bohn avatar image"
                            class="avatar avatar-sm flex-shrink-0 mr-3">
                        <div class="text-dark mb-0">&ldquo;Jumpstart is, well...
                            <mark>It's pretty great.</mark>&rdquo;</div>
                    </div>
                </div>
                <div class="m-2">
                    <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 shadow-sm bg-white">
                        <img src="img/avatars/female-5.jpg" alt="Shelley Canning avatar image"
                            class="avatar avatar-sm flex-shrink-0 mr-3">
                        <div class="text-dark mb-0">&ldquo;Put your money into this company now.&rdquo;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-0">
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">Jumpstart your launch</h3>
                <div class="lead">Save hours on design and development and launch faster.</div>
            </div>
        </div>
        <div class="row justify-content-center text-center mt-md-n4">
            <div class="col-auto">
                <a href="#" class="btn btn-primary btn-lg">Purchase Now</a>
            </div>
        </div>
    </div>
    <div class="divider divider-bottom bg-primary-3 mt-5"></div>
</section>


















{% endblock %}