<footer class="bg-primary-3 text-white links-white pb-4 footer-1">
    <div class="container">
        <div class="row">
            <div class="col-xl-auto mr-xl-5 col-md-3 mb-4 mb-md-0">
                <h5>Demos</h5>
                <ul class="nav flex-row flex-md-column">
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="landing-1.html" class="nav-link fade-page px-0 py-2">Landing 1</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="landing-2.html" class="nav-link fade-page px-0 py-2">Landing 2</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="landing-3.html" class="nav-link fade-page px-0 py-2">Landing 3</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="landing-4.html" class="nav-link fade-page px-0 py-2">Landing 4</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="landing-5.html" class="nav-link fade-page px-0 py-2">Landing 5</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="landing-6.html" class="nav-link fade-page px-0 py-2">Landing 6</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-auto mr-xl-5 col-md-3">
                <h5>Pages</h5>
                <ul class="nav flex-row flex-md-column">
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="company-about-1.html" class="nav-link fade-page px-0 py-2">Company</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="blog-listing-1.html" class="nav-link fade-page px-0 py-2">Blog</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="help-center-home.html" class="nav-link fade-page px-0 py-2">Help Center</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="careers-1.html" class="nav-link fade-page px-0 py-2">Careers</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="case-studies.html" class="nav-link fade-page px-0 py-2">Case Studies</a>
                    </li>
                    <li class="nav-item mr-3 mr-md-0">
                        <a href="pricing-plans.html" class="nav-link fade-page px-0 py-2">Pricing</a>
                    </li>
                </ul>
            </div>
            <div class="col mt-4 mt-md-0 mt-lg-5 mt-xl-0 order-lg-4 order-xl-3">
                <h5>Articles</h5>
                <ul class="list-unstyled d-flex flex-wrap">
                    <li class="col-12 col-lg-6 col-xl-12 px-0">
                        <div class="row my-2 my-md-3">
                            <a class="col-5" href="#">
                                <img class="rounded img-fluid hover-fade-out" src="img/blog/thumb-2.jpg"
                                    alt="blog.1.image">
                            </a>
                            <div class="col">
                                <a class="h6" href="#">Introducing the new Jumpstart brand</a>
                                <div class="text-small text-muted mt-2">October 10th</div>
                            </div>
                        </div>
                    </li>
                    <li class="col-12 col-lg-6 col-xl-12 px-0">
                        <div class="row my-2 my-md-3">
                            <a class="col-5" href="#">
                                <img class="rounded img-fluid hover-fade-out" src="img/blog/thumb-1.jpg"
                                    alt="blog.2.image">
                            </a>
                            <div class="col">
                                <a class="h6" href="#">Making the most of team-building sessions</a>
                                <div class="text-small text-muted mt-2">October 2nd</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg mt-2 mt-md-5 mt-lg-0 order-lg-3 order-xl-4">
                <h5>Newsletter</h5>
                <div class="card card-body bg-white">
                    <p>Get a bi-weekly digest of great articles</p>
                    <form data-form-email novalidate action="/forms/mailchimp.php">
                        <div class="d-flex flex-column flex-sm-row form-group">
                            <input class="form-control mr-sm-2 mb-2 mb-sm-0 w-auto flex-grow-1" name="email"
                                placeholder="Email Address" type="email" required>
                            <button type="submit" class="btn btn-primary btn-loading" data-loading-text="Sending">
                                <!-- Icon for loading animation -->
                                <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <title>Icon For Loading</title>
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g>
                                            <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                                        </g>
                                        <path
                                            d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                                            fill="#000000" fill-rule="nonzero"
                                            transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) ">
                                        </path>
                                    </g>
                                </svg>
                                <span>Go</span>
                            </button>
                        </div>
                        <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible"
                            data-badge="bottomleft"></div>
                        <div class="d-none alert alert-success w-100" role="alert" data-success-message>
                            Thanks, a member of our team will be in touch shortly.
                        </div>
                        <div class="d-none alert alert-danger w-100" role="alert" data-error-message>
                            Please fill all fields correctly.
                        </div>
                        <div class="text-small text-muted">We'll never share your email address</div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div
            class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
            <div class="col-auto">
                <div class="d-flex flex-column flex-sm-row align-items-center text-small">
                    <div class="text-muted">&copy; 2019 Page protected by reCAPTCHA and subject to Google's <a
                            href="https://www.google.com/policies/privacy/" target="_blank">Privacy Policy</a> and <a
                            href="https://policies.google.com/terms" target="_blank">Terms of Service</a>
                    </div>
                </div>
            </div>
            <div class="col-auto mt-3 mt-lg-0">
                <ul class="list-unstyled d-flex mb-0">
                    <li class="mx-3">
                        <a href="#" class="hover-fade-out">
                            <img src="img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs bg-white"
                                data-inject-svg>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="#" class="hover-fade-out">
                            <img src="img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs bg-white"
                                data-inject-svg>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="#" class="hover-fade-out">
                            <img src="img/icons/social/github.svg" alt="Github" class="icon icon-xs bg-white"
                                data-inject-svg>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="#" class="hover-fade-out">
                            <img src="img/icons/social/facebook.svg" alt="Facebook" class="icon icon-xs bg-white"
                                data-inject-svg>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="#" class="hover-fade-out">
                            <img src="img/icons/social/google.svg" alt="Google" class="icon icon-xs bg-white"
                                data-inject-svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>